#logo-header {
  max-height: 44px;
  position: relative;
  bottom: 12px;
}

.navbar, .top-nav-collapse {
  background: #0d0d0d !important;
}

body.dark .top-nav-collapse #logo-header {
  max-height: 30px;
  position: relative;
  bottom: 4px;
}

.dropdown-menu>li {
    background: rgba(0, 0, 0, 0.8) !important;
}

.dropdown-menu li a {
  color: #eee !important;
}

.one-page-header.top-nav-collapse .navbar-nav a.dropdown-toggle {
  color: #fff !important;
}

.parallax-counter-v4 {
    z-index: 1;
    height: auto;
    padding: 30px 0;
    overflow: hidden;
    text-align: center;
    position: relative;
    background: rgba(0,0,0,0.5);
}

.promo-section h2:after,
.promo-section h2:before {
  font-size: 16px;
  content: "\f233";
  position: absolute;
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

.btn-u.shade {
  background: rgba(0, 0, 0, 0.8);
}

.footsie {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 4px;
  z-index: 42000;
}

.footsie p {
  padding-top: 1em;
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0.8) !important;
}

.dropdown-menu a:hover {
  background: rgba(255, 255, 255, 0.3) !important;
}


.nems-green {
  color: #72c02c !important;
}

p {
  color: #cecece !important;
}

#tail {
    border: 1px solid #ddd;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

/* Unselected menu item */
li, li a, .one-page-header .navbar-nav a.dropdown-toggle, li.dropdown, a.dropdown-toggle, .one-page-header.top-nav-collapse .navbar-nav a.dropdown-toggle {
  color: #aaa !important;
}

/* Hovering menu item */
.one-page-header .navbar-nav a.dropdown-toggle:hover, a.dropdown-toggle:hover, li a:hover {
  color: #cecece !important;
}

.nav-tabs li.active a {
  color: #222 !important;
}

/* Selected menu item */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background: #222 !important;
}

/* Hide horizontal line after promo-text div */
.promo-text:after {
  background: transparent !important;
}

.parallax-counter-v4 {
    background: rgba(0,0,0,1) !important;
}
.parallax-counter-v4:after {
    background: rgba(0,0,0,1) !important;
}

/* Text color on tabbed content (background is white, so make darker text */
.tab-content p, .tab-content h1, .tab-content h2, .tab-content h3, .tab-content h4 {
  color: #555 !important;
}
