html * { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; }
table * { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; -webkit-border-radius: 6px; }
body { background-image:url(../../images/wood_wall.jpg); }
div.logEntries { background-color: #222; font-size: 1.0em; padding: 0px 0px 3px 3px ; } 
a.homepageURL:Hover { color: #880000; }
.infoBox { color: #CCC; background-color: #222; padding: 2px; border: 0; }
.infoBoxTitle { font-weight: normal; color: #CCC; }
.infoBoxBadProcStatus { color: #880000; }
.navBoxDate { background-color: #222; padding: 3px; }
.navBoxItem { background-color: #222; padding: 3px; }
.navboxfile { background-color: #222; padding: 3px; }
.statusTitle { background-color: #222; padding: 3px; }
div.statusSort { color: #CCC; font-size: 1em; }
div.pagelimit { color: #CCC; font-size: 1.2em; }
