
.trends { font-size: .9em; background-color: #222; color: #CCC; }

a { color: #CCC; text-decoration: none; }
a:hover { color: #076107; }
th { text-align: left; padding: 0 5px; border: 0; color: #CCC; }
td { font-size: .9em; border: 0; color: #CCC; }

.errorMessage { text-align: center; color: #880000; font-weight: normal; font-size: 1.0em; }
.errorDescription { text-align: center; font-weight: normal; font-size: 1.0em; }
.warningMessage { text-align: center; color: #880000; font-weight: normal; font-size: 1.0em; }
.infoMessage { text-align: center; color: #880000; font-weight: normal; }

.linkBox { border: 0; }
table.linkBox { margin-top: 20px; }
td.linkBox a { margin-left: 5px; padding-left: 10px; background: url(../../images/interface/menu_li1.gif) 0 0.35em no-repeat; }
td.linkBox a:hover { background: url(../../images/interface/menu_li2.gif) 0 0.35em no-repeat; }

.helpfulHints { text-align: center; }

.dataTitle { text-align: center; font-weight: normal; font-size: 1.0em; }

.reportRange { text-align: center; font-weight: normal; }
.reportDuration { text-align: center; }
.reportTime { text-align: center; }

.reportSelectTitle { text-align: center; font-size: 1.2em; color: #CCC; }
.reportSelectSubTitle { text-align: right; color: #CCC; }

.popupText { font-weight: normal; }